{% extends "base.html" %}

{% block extra_js %}
<script>
jQuery(document).ready(function($) {

    $(".vidlink").click(function() {
      $("#viddiv").html('');
      $("#viddiv").html('<video width="100" height="100" id="player" preload="none" <source type="video/youtube" src="http://www.youtube.com/watch?v=FtpWVp07A14" autoplay="true"/> </video>');
      var player = new MediaElementPlayer("#player");
      player.play();
    });
});
</script>
{% endblock %}

{% block extra_css %}
<style>
.c1 { 
	width: 20%;
}
</style>
{% endblock %}
{% block content %}

<div class="span7">
<h3>ATX Shows</h3><br />

{% for k,v in shows.items %}
<table class="table table-striped">
<caption style="margin-bottom: 20px"><b>{{k}}</b></caption>
{% if forloop.first %}
<thead>
    <tr>
      <th>Acts</th>
      <th>Genre</th>
      <th>Venue</th>
      <th>Time</th>
      <th>Hype</th>
    </tr>
  </thead>
  {% endif %}
{% for show in v %}
<tr>
<td class="c1">{{ show.acts }}</td>
<td class="c1">{{ show.genre }}</td>
<td class="c1">{{ show.venue }}</td>
<td class="c1">{{ show.tzShowTime }}</td>
<td class="c1">
{% for x in show.iterableHype %}
	<i class="icon-star"></i>
{% endfor %}
</td>
</tr>
{% endfor %}
</table>
{% endfor %}

</div>

<div class="span2">
	<br />
	<p>Hello, welcome to atxshows.com where the hype is made up. If you want to reach me to add a show or something just shoot me an email at info@atxshows.com</p>
  <br /><br />
  <div id='viddiv'>
  <video width="100" height="100" id="player1" preload="none">
    <source type="video/youtube" src="http://www.youtube.com/watch?v=nOEw9iiopwI" />
  </video>
  </div>
</div>
{% endblock %}