{% extends "base.html" %}

{% block content %}
<div class="span2"></div>
<div class="span8">
{% for k,v in shows.items %}
<table class="table table-striped">
<caption style="margin-bottom: 20px"><b>{{k}}</b></caption>
{% if forloop.first %}
<thead>
    <tr>
      <th>Acts</th>
      <th>Genre</th>
      <th>Venue</th>
      <th>Time</th>
    </tr>
  </thead>
  {% endif %}
{% for show in v %}
<tr>
<td>{{ show.acts }}</td>
<td>{{ show.genre }}</td>
<td>{{ show.venue }}</td>
<td>{{ show.datetime }}</td>
</tr>
{% endfor %}
</table>
{% endfor %}

</div>

<div class="span2"></div>

{% endblock %}