{% extends "base.html" %}
{% block extra_css %}
<style>
.c1 { 
	width: 20%;
}
</style>
{% endblock %}
{% block content %}
<div class="span2"></div>
<div class="span8">
{% for k,v in shows.items %}
<table class="table table-striped">
<caption style="margin-bottom: 20px"><b>{{k}}</b></caption>
{% if forloop.first %}
<thead>
    <tr>
      <th>Acts</th>
      <th>Genre</th>
      <th>Venue</th>
      <th>Time</th>
      <th>Hype</th>
    </tr>
  </thead>
  {% endif %}
{% for show in v %}
<tr>
<td class="c1">{{ show.acts }}</td>
<td class="c1">{{ show.genre }}</td>
<td class="c1">{{ show.venue }}</td>
<td class="c1">{{ show.datetime }}</td>
<td class="c1">
{% for x in show.iterableHype %}
	<i class="icon-star"></i>
{% endfor %}
</td>
</tr>
{% endfor %}
</table>
{% endfor %}

</div>

<div class="span2"></div>

{% endblock %}